* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 12pt;
  line-height: 1.5em;
  min-width: 1200px;
  color: #555555;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  background: #222833;
}
#header {
  background: #333333 url(../images/headerBg.jpg) no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  position: relative;
  padding: 8em 0;
  background-position: center;
}

#header > * {
  position: relative;
  z-index: 1;
}

#footer {
  padding: 4em 0;
  color: #fff;
}

#footer .copyright {
  margin-top: 3em;
  padding: 4em 0;
  padding-top: 3em;
  border-top: 1px solid;
  border-color: rgba(192, 192, 192, 0.15);
  text-align: center;
  color: inherit;
}
#footer a {
  color: inherit;
}
.wrapper {
  background: #ececec;
  padding: 3em 0;
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

header h2 {
  margin: 0;
  padding: 0;
  font-size: 3em;
  font-weight: 600;
}
header.major {
  padding-bottom: 2em;
}
header .subtitle {
  font-size: 1.6em;
}
#logo {
  font-size: 2em;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

#nav > ul > li {
  border-radius: 10px 10px 0 0;
  display: inline-block;
  margin-left: 0.5em;
  padding: 0.5em 1.5em;
}

#nav > ul > li:first-child {
  margin-left: 0;
}

#nav > ul > li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 700;
  line-height: 1.75em;
  margin-bottom: 1em;
}
.row > * {
  padding-left: 52px;
}

.row > * {
  float: left;
}

.u {
  width: 33.3333333333%;
}
.row {
  margin-left: -50px;
}
.row:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}
.content {
  padding: 20px;
}
.image.feature {
  display: block;
  margin: 0 0 2em 0;
}
.image.feature img {
  display: block;
  width: 100%;
}
.image {
  border: 0;
  position: relative;
}
a {
  color: #3ac984;
  text-decoration: underline;
}
.w100 {
  width: 100%;
}
p,
ul,
ol,
dl,
table,
blockquote {
  margin: 0 0 2em 0;
}

.card {
  position: relative;
  padding: 20px 0;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  text-align: center;
  z-index: 5;
}

img#user_photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 5px;
  margin-bottom: 30px;
}
.card #user_name {
  color: #999;
  font-size: 18px;
  margin: 0;
}
.card #user_login {
  color: #2c2e31;
  font-size: 38px;
  margin: 5px;
  text-transform: capitalize;
}
.card .bio {
  padding: 50px;
}
.card .bio .item {
  color: #2c2e31;
  font-size: 18px;
  padding-left: 10px;
  margin-bottom: 10px;
}
.user-list {
  padding: 15px;
}
.user-list .item {
  margin: 5px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.paginationcontrol {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.paginationcontrol .page {
  display: flex;
  padding: 10px;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.search > * {
  margin: 10px;
}

.search-input{
  border-radius: 5px;
  text-align: center;
  width: 150px;
}

.search-btn{
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px 3px;
}

.btn{
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px 3px;
}

.input{
  border-radius: 5px;
  text-align: center;
  width: 150px;
}

.table {
  text-align: justify;
}
