extends layout

block content
  header.major
    h2 Багатосторінковий веб-сайт
    span.subtitle Навчитись створювати веб-сайт, що надає CRUD доступ до ресурсів веб-сервера.
    span.subtitle Ознайомитись із шаблонізаторами веб-сторінок для генерації контенту.
    span.subtitle Навчитись створювати HTML-форми для взаємодії користувача із веб-сайтом та обробляти на сервері внесені користувачем дані.
  .row
    section.u
      .content
        a.image.feature(href='/')
          img(src='images/pic1.jpg' alt='')
        p
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
    section.u
      .content
        a.image.feature(href='/')
          img(src='images/pic2.jpg' alt='')
        p
          | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'
    section.u
      .content
        a.image.feature(href='/')
          img(src='images/pic3.jpg' alt='')
        p
          | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum
