doctype html
html(lang='en')
  head
    include partials/head.jade
  body
    include partials/header.jade
    div.wrapper
      section.container
        block content
    include partials/footer.jade
