extends layout

block content
    form(action="/api/media", method="post", enctype="multipart/form-data")
        input(type="text", name="title")
        input(type="file", name="file")
        button(type="submit", value="Upload") Upload File