extends ../layout

block content
    .row
        header.major.w100
                form(name="add-estimation" method='POST' action="#{'/users/'+ user_id +'/actors'}" enctype="multipart/form-data")
                    table.table(style="width:100%", cellspacing="2", align="center", cellpadding="8",border="0")
                        tr
                            td  Ім'я
                            td
                                input.input(type='text', placeholder='First name' name='name' id='name')
                        tr
                            td  Прізвище
                            td
                                input.input(type='text', placeholder='Last name' name='surname' id='surname')
                        tr
                            td  Вік
                            td
                                input.input(type='number', min=0, max=150, placeholder='18' name='age' id = "age" value="#{user_id}")
                        tr
                            td  Ваше фото
                            td
                                input.btn(type="file", name="file" id="file")
                    div.div
                        input.btn(type='submit' value="Створити")


          //  form(method='POST' action='/api/actors' enctype="multipart/form-data")
             div.form-group
                label(for='name') Name:
                input#name.form-control(type='text', placeholder='First name' name='name')
              div.form-group
                label(for='surname') Lastname:
                input#surname.form-control(type='text', placeholder='Last name' name='surname')
              div.form-group
                label(for='age') Age:
                input#age.form-control(type='text', placeholder='18' name='age')
              div.form-group
                label(for='films') Films:
                input#films.form-control(type='text', placeholder='2' name='films')
              div.form-group
                input(type="text", name="title")
                input(type="file", name="file")
                input(type='submit' value="Створити")
