extends ../layout

block content
  .row
      header.major.w100
        .card
          .details
            img#user_photo(src="#{actor.avatar}")
            p#user_name #{actor.name}
            p#user_sername #{actor.surname}
            .bio
              p.item  Вік: #{actor.age}
               // p.item  Кількість фільмів: #{actor.films}
              p.item  Дата реєстрації: #{moment(actor.registeredAt).format("YYYY/MM/DD HH:mm:ss")}

            if (actor.user_id == user_id)
              a(href="#{'/users/'+actor.user_id+'/actors/'+actor._id +'/films'}") Відкрити фільми актора
            
            if (actor.user_id == user_id)
              form(method="POST", action="/users/#{user_id}/actors/#{actor._id}?_method=DELETE")
                  div.actions
                    input.btn(type="submit" value="Видалити")

  