extends ../layout



block content

    header.major
        h2 Список фільмів
    .row
        section.w100
            form.search(name="add-estimation", method="get")
                input.search-input(type="text", name="search", value="#{search}", placeholder="Найти")
                input.search-btn(type="submit", value="Найти")
                if (actor_id) 
                  a.btn(href="#{'/users/'+ user_id +'/actors/'+actor_id+'/films/new'}") Створити
            ul.user-list
                if (films.size > 0)
                div.pagination
                    script.
                    -function url(page) {
                    - let u = "films?page=" + page;
                    - if(search)
                    -   u = u + "&search="+search;

                    - return u;
                    -}
                    .paginationcontrol
                        if (page.current > 1)
                          a.page.page-first(href=url(1)) &lt;&lt;
                          a.page.page-prev(href=url((page.current - 1)!=1?(page.current - 1): 1)) &lt;
                        else
                          span.page.disabled.page-first &lt;&lt;
                          span.page.disabled.page-prev &lt;
                        - for (i = page.current-2; i <= page.current + 2; ++i)
                              if (i <= page.total && i > 0)
                                if (i !== parseInt(page.current))
                                  a.page(href=url(i!=1 ? i: 1))=i
                                else
                                  span.page.current=i
                        if (page.current < page.total)
                          a.page.page-next(href=url((page.current + 1!=page.total?(parseInt(page.current) + 1): page.total))) &gt;
                          a.page.page-last(href=url(page.total)) &gt;&gt;
                        else
                          span.page.disabled.page-next &lt;
                          span.page.disabled.page-last &lt;&lt;
                for film in films
                    li.item
                        a(href="#{'/users/'+ user_id +'/actors/'+actor_id+'/films/'+film._id}") #{film.name}
                else
                    p Список фільмів пустий

