extends ../layout

block content
  .row
      header.major.w100
        .card
          .details
            .bio
              p.item  Назва фільму: #{film.name}
              p.item  Рейтинг: #{film.rating}
              a.btn(href="#{'/actors/' +film.actor_id }") Актор
            form(method="POST", action="/users/#{user_id}/actors/#{film.actor_id}/films/#{film._id}?_method=DELETE")
                div.actions
                  input.btn(type="submit" value="Видалити")
