extends ../layout

block content
    .row
        header.major.w100
                form(name="add-estimation" method='POST' action="#{'/users/'+ user_id +'/actors/'+actor_id+'/films'}" enctype="multipart/form-data")
                    table.table(style="width:100%", cellspacing="2", align="center", cellpadding="8",border="0")
                        tr
                            td  Назва фільму
                            td
                                input.input(type='text', placeholder='Film name' name='name' id='name')
                        tr 
                            td  Рейтинг
                            td
                                input.input(type='number', min=0, max=10, placeholder='8' name='rating' id = "rating")
                    div.div
                        input.btn(type='submit' value="Створити")
