extends ../layout


block content 
    if (images.size > 0) 
    for img in images
                img.image(src="#{'/../'+img.filePath}", alt="Image")
     else 
        p No more images
    
        