extends ../layout

block content
  .row
      header.major.w100
        .card
          .details
            img#user_photo(src="#{user.avaUrl}")
            p#user_name #{user.fullname}
            p#login (#{user.login}) #{moment(user.registeredAt).format("DD.MM.YYYY")}
            .bio
              p.item  #{user.country}
              p.item  #{user.email}
              p.item  #{user.phone}

             a(href="#{'/users/'+user._id +'/actors'}") Відкрити акторів користувача
            