extends ../layout

block content
  header.major
    h2 Список користувачів
  .row
    section.w100
        if (users.size > 0)
        table(style="width:100%")
          tr
            th №
            th Логін
            th Повне ім'я
            th Дата реєстрації
          -var index = 1
          for user in users
              tr
                td  #{index++}
                td
                  a(href="#{'/users/'+user._id}") #{user.login}
                td
                  a(href="#{'/users/'+user._id}") #{user.fullname}
                td #{moment(user.registeredAt).format("YYYY/MM/DD HH:mm:ss")}
           else
              p Список користувачів пустий

