#header
  .container
    h1
      a#logo(href='/') Lab3
    nav#nav
      ul
        li(style='white-space: nowrap;')
          a(href='/') Home
        li(style='white-space: nowrap;')
          a(href='/users') Users
        li(style='white-space: nowrap;')
          a(href='/actors') Actors
        li(style='white-space: nowrap;')
          a(href='/about') About
